<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mr.modules.api.mapper.AdminPunishMapper" >
  <resultMap id="BaseResultMap" type="com.mr.modules.api.model.AdminPunish" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="unique_key" property="uniqueKey" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="object_type" property="objectType" jdbcType="VARCHAR" />
    <result column="enterprise_name" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="enterprise_code1" property="enterpriseCode1" jdbcType="VARCHAR" />
    <result column="enterprise_code2" property="enterpriseCode2" jdbcType="VARCHAR" />
    <result column="enterprise_code3" property="enterpriseCode3" jdbcType="VARCHAR" />
    <result column="enterprise_code4" property="enterpriseCode4" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="person_id" property="personId" jdbcType="VARCHAR" />
    <result column="punish_type" property="punishType" jdbcType="VARCHAR" />
    <result column="punish_reason" property="punishReason" jdbcType="VARCHAR" />
    <result column="punish_according" property="punishAccording" jdbcType="VARCHAR" />
    <result column="punish_result" property="punishResult" jdbcType="VARCHAR" />
    <result column="judge_no" property="judgeNo" jdbcType="VARCHAR" />
    <result column="judge_date" property="judgeDate" jdbcType="VARCHAR" />
    <result column="judge_auth" property="judgeAuth" jdbcType="VARCHAR" />
    <result column="publish_date" property="publishDate" jdbcType="VARCHAR" />
  </resultMap>

  <!--通过链接地址删除全部-->
  <delete id="deleteAllByUrl" parameterType="java.lang.String">
    DELETE FROM ADMIN_PUNISH WHERE URL = #{url}
  </delete>

  <!--通过链接地址删除-->
  <delete id="deleteByUrl" parameterType="java.lang.String">
    DELETE FROM ADMIN_PUNISH WHERE URL = #{url} AND ENTERPRISE_NAME = #{enterpriseName} AND PERSON_NAME = #{personName} AND JUDGE_NO = #{judgeNo} AND JUDGE_AUTH = #{judgeAuth}
  </delete>

  <!--通过链接地址查找-->
  <select id="selectByUrl" resultMap="BaseResultMap">
    SELECT * FROM ADMIN_PUNISH c WHERE 1 =1
    <if test="url != null">
      AND c.URL = #{url}
    </if>
    <if test="enterpriseName != null">
      AND c.ENTERPRISE_NAME = #{enterpriseName}
    </if>
    <if test="personName != null">
      AND c.PERSON_NAME = #{personName}
    </if>
    <if test="judgeNo != null">
      AND c.JUDGE_NO = #{judgeNo}
    </if>
    <if test="judgeAuth != null">
      AND JUDGE_AUTH = #{judgeAuth}
    </if>
     LIMIT 0, 1
  </select>
  
  <!-- 通过判决书编号+企业名称(或个人名称)获得记录数 -->
 <select id="selectCountByJudgeNoAndName" parameterType="java.lang.String" resultType="Integer">
  	select count(1) from admin_punish where judge_no=#{judgeNo}
  	<if test="objectType !=null and objectType == '01'">
  		and enterprise_name=#{name}
  	</if>
  	<if test="objectType !=null and objectType == '02'">
  		and person_name=#{name}
  	</if>
  </select>
</mapper>