<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mr.modules.api.mapper.DiscreditBlacklistMapper" >
  <resultMap id="BaseResultMap" type="com.mr.modules.api.model.DiscreditBlacklist" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="unique_key" property="uniqueKey" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="object_type" property="objectType" jdbcType="VARCHAR" />
    <result column="enterprise_name" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="enterprise_code1" property="enterpriseCode1" jdbcType="VARCHAR" />
    <result column="enterprise_code2" property="enterpriseCode2" jdbcType="VARCHAR" />
    <result column="enterprise_code3" property="enterpriseCode3" jdbcType="VARCHAR" />
    <result column="enterprise_code4" property="enterpriseCode4" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="person_id" property="personId" jdbcType="VARCHAR" />
    <result column="discredit_type" property="discreditType" jdbcType="VARCHAR" />
    <result column="discredit_action" property="discreditAction" jdbcType="VARCHAR" />
    <result column="punish_reason" property="punishReason" jdbcType="VARCHAR" />
    <result column="punish_result" property="punishResult" jdbcType="VARCHAR" />
    <result column="judge_no" property="judgeNo" jdbcType="VARCHAR" />
    <result column="judge_date" property="judgeDate" jdbcType="VARCHAR" />
    <result column="judge_auth" property="judgeAuth" jdbcType="VARCHAR" />
    <result column="publish_date" property="publishDate" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  
  <!--通过链接地址删除全部-->
  <delete id="deleteAllByUrl" parameterType="java.lang.String">
    DELETE FROM DISCREDIT_BLACKLIST WHERE URL = #{url}
  </delete>
  
  <!-- 通过URL查询记录数 -->
  <select id="selectCountByUrl" parameterType="java.lang.String" resultType="Integer">  
        SELECT COUNT(1)  from DISCREDIT_BLACKLIST WHERE URL= #{url} 
  </select>
  
  <!-- 通过主题+对象类型+判决书文号查询记录条数 -->
  <select id="selectCountBySubjectAndJudegNo" parameterType="java.lang.String" resultType="Integer">  
        SELECT COUNT(1)  from DISCREDIT_BLACKLIST WHERE subject= #{subject} and object_type=#{objectType} and judge_no=#{judgeNo} 
  </select>
  
  <!--通过链接地址删除-->
  <delete id="deleteByUrl" parameterType="java.lang.String">
    DELETE FROM DISCREDIT_BLACKLIST WHERE URL = #{url} AND ENTERPRISE_NAME = #{enterpriseName} AND PERSON_NAME = #{personName} AND JUDGE_NO = #{judgeNo}  AND JUDGE_AUTH = #{judgeAuth}
  </delete>

  <!--通过链接地址查找-->
  <select id="selectByUrl" resultMap="BaseResultMap">
    SELECT * FROM DISCREDIT_BLACKLIST c WHERE c.URL = #{url} AND c.ENTERPRISE_NAME = #{enterpriseName} AND c.PERSON_NAME = #{personName} AND c.JUDGE_NO = #{judgeNo} AND JUDGE_AUTH = #{judgeAuth} LIMIT 0, 1
  </select>

</mapper>